.ipynb_checkpoints
*.tar.gz
*.zip
__MACOSX/
*.gz

*.pickle

*.jpg
!./part_3_convolutional_networks/lesson_7_cnn_project_dog_breed_classifier/dog-project/images/*.jpg

*.png

*.npz

*.hdf5

__pycache__
.DS_Store

RayWangAWSKeyPair.pem




